<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
	<form name="myForm" class="form-horizontal">
	  <div class="input-group">
	    <span class="input-group-addon">SKU</span>
	    <input type="text" class="form-control" name="sku" ng-model="currentItem.item.sku" required>
	  </div>

	  <div class="input-group">
	    <span class="input-group-addon">Descripcion</span>
	    <input type="text" class="form-control" name="description" ng-model="currentItem.item.description" required>
	  </div>

	  <a href="#/" class="btn" role="button">Cancel</a>
	  <button ng-click="currentItem.save()" class="btn">Save</button>
	  <button ng-click="currentItem.destroy()" ng-show="currentItem.project.$id" class="btn btn-danger">Delete</button>
	</form>
</div>
